<!doctype html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gremlins Photobot</title>
	</head>
	<body>
		<h1>Gremlins Photobot</h1>
		<h2>Unknown user!</h2>
		<p>You haven't logged in with your token for the session. Please try:</p>
		<p>1) Log in using your personal URL</p>
		<p>2) Ensure cookies are enabled on your browser (for storing session information only, GDPR nutters go away!</p>
		<p>3) Complain to Edd (let's be honest, you were going to do that anyway :P)</p>
	</body>
</html>
