<!doctype html>

<html>
	<head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gremlins Photobot</title>
	</head>
	<body>
		<h1>Gremlins Photobot</h1>
		<p>gremlins-photobot is a free as in freedom server systen for collating photos with friends.</p>
		<p><a href="https://github.com/EdwardSalkield/gremlins-photobot">source</a>.    Submit a PR to help me with the stylesheets!</p>
		<h2>Welcome {{name}}</h2>
		<a href="{{ urlbasepath }}/logout">Log out</a>
		<p>Upload and collate our collective photos together! P.S. no Zucceronis here</p>

		<h2>New Album</h2>
		<form method=post enctype=multipart/form-data>
			<input type=text name=name placeholder="Album name">
			<input type=date name=date>
			<label><input type=checkbox name=restricted disabled >Restricted</label>
			<input type=submit value=Create>
		</form>
		
		<h2>Browse Albums</h2>
		<div id="albumtable">
			<table style="width:100%">
				<tr>
					{% for col in cols %}
					<td><b>{{ col }}</b></td>
					{% endfor %}
				</tr>

				{% for row in table %}
					<tr>
					{% for data in row[1] %}
						{% if cols[loop.index0] == "Display Name" %}
						<td><a href="{{ urlbasepath }}/albums/{{ row[0] }}">{{ data }}</a></td>
						{% else %}
							<td>{{ data }}</td>
						{% endif %}
					{% endfor %}
					</tr>
				{% endfor %}
						
				
			<table>
		</div>

	</body>
</html>
