<!doctype html>

<html>
	<head>
		<title>Gremlins Photobot</title>
	</head>
	<body>
		<h1>Gremlins Photobot</h1>
		<h2>Welcome {{name}}</h2>
		<p>Upload and collate our collective photos together! P.S. no Zucc</p>

		<div id="albumtable">
			<table style="width:100%">
				<tr>
					{% for col in cols %}
					<td><b>{{ col }}</b></td>
					{% endfor %}
				</tr>

				{% for row in table %}
					<tr>
					{% for data in row[1] %}
						{% if cols[loop.index0] == "Display Name" %}
						<td><a href="/albums/{{ row[0] }}">{{ data }}</a></td>
						{% else %}
							<td>{{ data }}</td>
						{% endif %}
					{% endfor %}
					</tr>
				{% endfor %}
						
				
			<table>
		</div>

	</body>
</html>
